body{
    font-family: 'Oswald', sans-serif;
    margin: 0%;
}
h1{
    font-size: 50px;
}
.name-highlight{
    color: chocolate;
}
.half-width{
    width: 35%;
    float: left;
    margin-left: 5%;
    padding-left: 5%;
}
.half-width img{
    width: 75%;
    padding-top: 10%;
}
.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
}